<!DOCTYPE html>
<html lang="en">
<head><title>votre ticket</title></head>
<body>
{% block header %}
    <hr>
    <hr>
{% endblock %}
{% block body %}
{% endblock %}
{% block footer %}
<hr>
<hr>
{% endblock %}

</body>
</html>